{% load static i18n %}

<a href="{{ category.link }}" class="flex flex-col items-center p-6 bg-gray-100 rounded-lg hover:bg-gray-200 transition-all duration-300">
    <svg width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
        {% if category.image == 'laptop' %}
            <path d="M20 16V7a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v9m16 0H4m16 0 1.28 2.55a.5.5 0 0 1-.44.72H3.16a.5.5 0 0 1-.44-.72L4 16"></path>
        {% elif category.image == 'smartphone' %}
            <rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect>
            <line x1="12" y1="18" x2="12.01" y2="18"></line>
        {% elif category.image == 'watch' %}
            <rect x="6" y="7" width="12" height="10" rx="3" ry="3"></rect>
            <path d="M8 7V4a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v3"></path>
            <path d="M8 17v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3"></path>
            <circle cx="12" cy="12" r="1"></circle>
        {% elif category.image == 'tv' %}
            <rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
            <line x1="8" y1="21" x2="16" y2="21"></line>
            <line x1="12" y1="17" x2="12" y2="21"></line>
        {% elif category.image == 'gamepad' %}
            <line x1="6" y1="11" x2="10" y2="11"></line>
            <line x1="8" y1="9" x2="8" y2="13"></line>
            <line x1="15" y1="12" x2="15.01" y2="12"></line>
            <line x1="18" y1="10" x2="18.01" y2="10"></line>
            <path d="M17.32 5H6.68a4 4 0 0 0-3.978 3.59c-.006.052-.01.101-.017.152C2.604 9.416 2 14.456 2 16a3 3 0 0 0 3 3c1 0 1.5-.5 2-1l1.414-1.414A2 2 0 0 1 9.828 16h4.344a2 2 0 0 1 1.414.586L17 18c.5.5 1 1 2 1a3 3 0 0 0 3-3c0-1.545-.604-6.584-.685-7.258-.007-.05-.011-.1-.017-.151A4 4 0 0 0 17.32 5z"></path>
        {% elif category.image == 'headphones' %}
            <path d="M12 2a6 6 0 0 1 6 6v8a6 6 0 0 1-12 0V8a6 6 0 0 1 6-6Z"></path>
            <path d="M12 2v6"></path>
        {% endif %}
    </svg>
    <span class="text-gray-800 font-medium">{% translate category.name %}</span>
    <small class="text-gray-500">{{ category.product_count }} {% translate 'products' %}</small>
</a>