@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

/* Preline UI */
@import "../../../node_modules/preline/variants.css";

/* Plugins */
/* @plugin "@tailwindcss/forms"; */

/* Adds pointer cursor to buttons */
@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

@theme {
    --font-sans: "Inter", "sans-serif" !important;
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);
