{% extends "auth/_base.html" %}

{% load static i18n %}

{% block content %}
    {% url "main:home" as home_url %}
    {% url "account:login" as login_url %}

    <section class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-auth w-100 m-auto">
                    {% if validlink %}
                        <form novalidate method="post" action=".">
                            {% csrf_token %}

                            <a href="{{ home_url }}" class="d-flex justify-content-center mb-4">
                                <img src="{% static 'assets/images/logo.svg' %}" alt="{% trans 'Logo' %}" width="200"/>
                            </a>

                            <h1 class="h4 mb-3 text-dark">{% trans "Reset Password" %}</h1>

                            <div class="mb-3 pb-3 small border-bottom">
                                <span>{% trans "Did you have an account?" %} </span>
                                <a href="{{ login_url }}" class="text-decoration-none">{% trans "Sign In" %}</a>
                            </div>

                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            <div class="mb-3">
                                <div class="form-floating">
                                    {{ form.new_password1 }}
                                    <label for="{{ form.new_password1.name }}">{{ form.new_password1.label }}</label>
                                </div>
                                <div class="invalid-feedback">{% trans "Password must be at least 8 characters." %}</div>
                            </div>

                            <div class="mb-3">
                                <div class="form-floating">
                                    {{ form.new_password2 }}
                                    <label for="{{ form.new_password2.name }}">{{ form.new_password2.label }}</label>
                                </div>
                                <div class="invalid-feedback">{% trans "Password must be at least 8 characters." %}</div>
                            </div>

                            <div class="mb-3 pb-3 d-flex gap-2 border-bottom">
                                <a href="{{ home_url }}" class="btn btn-lg bg-secondary bg-opacity-10" type="button">{% trans "Go back" %}</a>
                                <button class="flex-grow-1 btn btn-lg btn-primary" type="submit">{% trans "Reset Password" %}</button>
                            </div>

                            <div class="mb-3 mb-md-0 text-muted text-center">
                                <span>©</span>
                                <span id="copyright">
                                <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                            </span>
                                <span>{% trans "LMS. Design and Coded by" %}</span>
                                <a href="https://masoudkarimi.dev" target="_blank" title="{% trans "Masoud Karimi" %}" class="text-decoration-none">{% trans "Masoud Karimi" %}</a>
                            </div>
                        </form>
                    {% else %}
                        <div class="alert alert-warning">
                            {% blocktranslate %}
                                The password reset link was invalid, possibly because it has already been used.
                                Please request a new password reset.
                            {% endblocktranslate %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
