{% extends "auth/_base.html" %}

{% load static i18n %}

{% block content %}
    {% url "main:home" as home_url %}
    {% url "account:login" as login_url %}

    <section class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-auth w-100 m-auto">
                    <a href="{{ home_url }}" class="d-flex justify-content-center mb-4">
                        <img src="{% static 'assets/images/logo.svg' %}" alt="{% trans 'Logo' %}" width="200"/>
                    </a>

                    <h1 class="h4 mb-3 text-dark">{% trans "Email Sent" %}</h1>

                    <p class="mb-5 text-muted">
                        {% blocktranslate %}
                            An email containing instruction for resetting your account password have been sent, if you don't receiving an email, please make
                            sure you've entered the address you registered with and check your spam folder.
                        {% endblocktranslate %}
                    </p>

                    <div class="mb-3 pb-3 d-flex gap-2 border-bottom">
                        <a href="{{ home_url }}" class="btn btn-lg bg-secondary bg-opacity-10" type="button">{% trans "Go back" %}</a>
                        <a href="{{ login_url }}" class="flex-grow-1 btn btn-lg btn-primary" type="button">{% trans "Sing In" %}</a>
                    </div>

                    <div class="mb-3 mb-md-0 text-muted text-center">
                        <span>©</span>
                        <span id="copyright">
                                <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                            </span>
                        <span>{% trans "LMS. Design and Coded by" %}</span>
                        <a href="https://masoudkarimi.dev" target="_blank" title="{% trans "Masoud Karimi" %}" class="text-decoration-none">{% trans "Masoud Karimi" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
