{% extends "_base.html" %}

{% load i18n %}

{% block content %}
    {% url "account:login" as login_url %}

    <section class="auth-block">
        <!-- Form -->
        <form action="." method="post">
            {% csrf_token %}

            <div class="lg:max-w-lg lg:mx-auto">
                <!-- Card -->
                <div class="auth-card">
                    <div class="text-center">
                        <h1 class="auth-title capitalize">{% trans "Forgot password?" %}</h1>
                        <p class="body2 mt-2">
                            {% trans "Remember your password?" %}
                            <a class="text-link" href="{{ login_url }}">{% trans "Sign in here" %}</a>
                        </p>
                    </div>

                    <div class="mt-5">
                        <!-- Grid -->
                        <div class="grid grid-cols-1 gap-4">
                            <div class="relative">
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="mt-5">
                            <button type="submit" class="btn btn-lg btn-primary w-full capitalize">{% trans "Reset password" %}</button>
                        </div>
                    </div>
                </div>
                <!-- End Card -->
            </div>
        </form>
        <!-- End Form -->
    </section>
{% endblock %}
