{% extends "_base.html" %}

{% load i18n %}

{% block content %}
    {% url "account:login" as login_url %}

    <section class="auth-block">
        <div class="lg:max-w-lg lg:mx-auto">
            <!-- Card -->
            <div class="auth-card">
                <div>
                    <h1 class="auth-title">{% trans "Email was successfully sent" %}</h1>
                    <p class="body2 mt-2">
                        {% blocktranslate %}
                            An email containing instruction for resetting your account password have been sent, if you don't receiving an email, please make sure you've entered
                            the address you registered with and check your spam folder.
                        {% endblocktranslate %}
                    </p>
                </div>

                <div class="mt-5">
                    <a href="{{ login_url }}" class="btn btn-lg btn-primary w-full capitalize">{% trans "Sign in" %}</a>
                </div>
            </div>
            <!-- End Card -->
        </div>
    </section>
{% endblock %}
