{% extends "_base.html" %}

{% load i18n %}

{% block content %}
    {% url "account:login" as login_url %}

    <section class="auth-block">
        <div class="lg:max-w-lg lg:mx-auto">
            <!-- Card -->
            <div class="auth-card">
                <div>
                    <h1 class="auth-title">{% trans "Password reset was complete" %}</h1>
                    <p class="body2 mt-2">
                        {% blocktranslate %}Your password has been reset.{% endblocktranslate %}
                    </p>
                </div>

                <div class="mt-5">
                    <a href="{{ login_url }}" class="btn btn-lg btn-primary w-full capitalize">{% trans "Sign in" %}</a>
                </div>
            </div>
            <!-- End Card -->
        </div>
    </section>
{% endblock %}
