{% load i18n %}

<footer class="footer">
    {% include 'components/_logo.html' %}
    <ul class="footer-links">
        <li class="footer-link-item">
            <a class="footer-link" href="{% url 'shop:home' %}">
                {% translate 'Home' %}
            </a>
        </li>
        <li class="footer-link-item">
            <a class="footer-link" href="{% url 'shop:terms' %}">
                {% translate 'Terms and Condition' %}
            </a>
        </li>
        <li class="footer-link-item">
            <a class="footer-link" href="{% url 'shop:about' %}">
                {% translate 'About' %}
            </a>
        </li>
        <li class="footer-link-item">
            <a class="footer-link" href="{% url 'shop:contact' %}">
                {% translate 'Contact' %}
            </a>
        </li>
        <li class="footer-link-item">
            <a class="footer-link" href="{% url 'shop:faq' %}">
                {% translate 'FAQ' %}
            </a>
        </li>
    </ul>
    <p class="footer-copyright">
        ©{% now "Y" %}<span class="mx-2 text-gray-300">|</span>{% translate 'All Right Received.' %}
    </p>
    <div class="footer-social">
        <a href="https://linkedin.com/in/masoudkaarimi/" target="_blank" class="footer-social-link">
            {% include 'components/icons/_linkedin.html' %}
        </a>
        <a href="https://github.com/masoudkaarimi/" target="_blank" class="footer-social-link">
            {% include 'components/icons/_github.html' %}
        </a>
        <a href="https://t.me/masoudkaarimi/" target="_blank" class="footer-social-link">
            {% include 'components/icons/_telegram.html' %}
        </a>
    </div>
</footer>
