{% extends "_base.html" %}
{% load static i18n %}

{% block content %}
    <section class="container mx-auto py-8">
        {% include 'components/_breadcrumb.html' with items=breadcrumb %}

        {% if validlink %}
            <div class="text-center">
                {% include 'components/_heading.html' with heading=heading %}
            </div>

            <form method="post" class="form-container max-w-md" novalidate>
                {% csrf_token %}

                <div class="grid gap-6" data-hs-toggle-password-group>
                    <div>
                        <label for="{{ form.new_password1.id_for_label }}" class="form-label">{{ form.new_password1.label }}</label>
                        <div class="relative">
                            {{ form.new_password1 }}
                            <button type="button" data-hs-toggle-password='{"target": ["#new_password1", "#new_password2"]}' class="btn-password-toggle">
                                {% include "components/icons/_eye_toggle_icon.html" %}
                            </button>
                        </div>
                        {% if form.new_password1.errors %}
                            <div class="form-error">{{ form.new_password1.errors }}</div>
                        {% endif %}
                    </div>
                    <div>
                        <label for="{{ form.new_password2.id_for_label }}" class="form-label">{{ form.new_password2.label }}</label>
                        <div class="relative">
                            {{ form.new_password2 }}
                            <button type="button" data-hs-toggle-password='{"target": ["#new_password1", "#new_password2"]}' class="btn-password-toggle">
                                {% include "components/icons/_eye_toggle_icon.html" %}
                            </button>
                        </div>
                        {% if form.new_password2.errors %}
                            <div class="form-error">{{ form.new_password2.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <button type="submit" class="btn btn-lg btn-primary w-full">{% translate "Reset password" %}</button>
                <p class="form-text text-center">
                    {% translate "Already have an account?" %}
                    <a href="{% url 'account:login' %}" class="text-link">{% translate "Sign in here" %}</a>
                </p>
            </form>
        {% else %}
            <div class="form-container max-w-md mx-auto text-center">
                <div class="mb-6">
                    <svg class="mx-auto size-16 text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                         stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round">
                        <circle cx="12" cy="12" r="10"></circle>
                        <path d="M12 16v-4"></path>
                        <path d="M12 8h.01"></path>
                    </svg>

                    <h3 class="text-xl font-semibold mt-4 mb-2">{% translate "Invalid Password Reset Link" %}</h3>
                    <p class="text-gray-600 mb-6">{% translate "The password reset link is invalid or has expired." %}</p>
                    <p class="text-gray-600 mb-6">{% translate "Please request a new password reset if you still need to change your password." %}</p>
                    <a href="{% url 'account:password_reset' %}" class="btn btn-lg btn-primary w-full">{% translate "Request new password reset" %}</a>
                </div>

                <p class="form-text">
                    {% translate "Already have an account?" %}
                    <a href="{% url 'account:login' %}" class="text-link">{% translate "Sign in here" %}</a>
                </p>
            </div>
        {% endif %}

    </section>
{% endblock content %}