{% extends "_base.html" %}
{% load static i18n %}

{% block content %}
    <section class="container mx-auto py-8">
        {% include 'components/_breadcrumb.html' with items=breadcrumb %}
        {% include 'components/_heading.html' with heading=heading %}

        <div class="flex flex-col lg:flex-row gap-8">
            <!-- Main Content (Shipping, Payment, Items) -->
            <div class="w-full lg:w-8/12 space-y-6">
                <!-- Shipping Address -->
                <div>
                    <div class="mb-2 flex justify-between gap-2">
                        <h2 class="text-xl font-semibold text-gray-800 mb-0">{% translate "Shipping Address" %}</h2>
                        <a href="{% url 'account:address_list' %}" class="text-sm text-indigo-600 hover:text-indigo-800 font-medium">
                            {% translate "Change address" %} →
                        </a>
                    </div>
                    <div class="border border-gray-200 rounded-lg p-4">
                        <div class="flex items-center gap-4">
                            <div class="text-sm text-gray-600">
                                <ul class="mt-2 space-y-1 text-sm font-light text-gray-800">
                                    <li><span class="font-semibold">{% translate 'Full Name' %}:</span> {{ shipping_address.name }}</li>
                                    <li><span class="font-semibold">{% translate 'Phone Number' %}:</span> {{ shipping_address.phone }}</li>
                                    <li><span class="font-semibold">{% translate 'Address' %}:</span> {{ shipping_address.address }}</li>
                                    <li><span class="font-semibold">{% translate 'City' %}:</span> {{ shipping_address.city }}</li>
                                    <li><span class="font-semibold">{% translate 'State/Province' %}:</span> {{ shipping_address.state }}</li>
                                    <li><span class="font-semibold">{% translate 'Zip/Postal Code' %}:</span> {{ shipping_address.zip }}</li>
                                    <li><span class="font-semibold">{% translate 'Country/Region' %}:</span> {{ shipping_address.country }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Payment Method -->
                <div>
                    <div class="mb-2 flex justify-between gap-2">
                        <h2 class="text-xl font-semibold text-gray-800 mb-0">{% translate "Payment Method" %}</h2>
                        <a href="{% url 'account:payment_list' %}" class="text-sm text-indigo-600 hover:text-indigo-800 font-medium">
                            {% translate "Change payment method" %} →
                        </a>
                    </div>
                    <div class="border border-gray-200 rounded-lg p-4">
                        <div class="flex items-center gap-4">
                            <div class="w-14 h-8 flex items-center justify-center">
                                <svg class="h-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 32" width="56" height="32" fill="none">
                                    <path d="M34.482 9a8.17 8.17 0 0 1 3.052.577l-.463 2.926-.308-.143a5.638 5.638 0 0 0-2.534-.52c-1.343 0-1.946.591-1.96 1.168 0 .635.73 1.053 1.92 1.673 1.96.966 2.868 2.148 2.855 3.69C37.016 21.184 34.692 23 31.122 23c-1.526-.015-2.996-.347-3.794-.721l.476-3.043.448.217c1.106.505 1.834.72 3.192.72.98 0 2.03-.418 2.043-1.325 0-.592-.447-1.024-1.763-1.688-1.288-.649-3.01-1.73-2.982-3.676.014-2.639 2.38-4.484 5.74-4.484ZM21.798 22.798H25.2l2.128-13.552h-3.402l-2.128 13.552Z"
                                          fill="#00579F"></path>
                                    <path clip-rule="evenodd"
                                          d="M46.255 9.246h-2.631c-.812 0-1.428.245-1.779 1.124l-5.053 12.428h3.57l.714-2.033h4.368c.098.476.406 2.033.406 2.033H49L46.255 9.246Zm-4.2 8.75 1.36-3.79c-.007.01.038-.116.104-.305.098-.28.243-.693.343-.993l.237 1.167s.645 3.244.785 3.922h-2.828Z"
                                          fill="#00579F" fill-rule="evenodd"></path>
                                    <path d="m15.624 18.487 3.332-9.241h3.598l-5.348 13.538h-3.598l-3.052-11.852c2.156 1.168 4.088 3.518 4.704 5.68l.364 1.875Z"
                                          fill="#00579F"></path>
                                    <path d="M12.53 9.246H7.056L7 9.519c4.27 1.125 7.098 3.836 8.26 7.094l-1.19-6.228c-.196-.866-.798-1.11-1.54-1.14Z" fill="#FAA61A"></path>
                                    <rect height="31" rx="5.5" stroke="currentColor" class="st6sd dark:stroke-neutral-600" width="55" x=".5" y=".5"></rect>
                                </svg>
                            </div>
                            <div>
                                <div class="flex items-center">
                                    <h3 class="text-md font-semibold text-gray-800">Visa •••• 4242</h3>
                                    <span class="ml-2 py-1 px-2 inline-flex items-center gap-x-1.5 text-xs bg-indigo-200 text-indigo-800 rounded-full">{% translate "Default" %}</span>
                                </div>
                                <ul class="mt-1 space-y-1 text-sm font-light text-gray-600">
                                    <li>{{ payment.card_name }}</li>
                                    <li>{% translate "Expires" %}: {{ payment.expiry }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Order Items -->
                <div>
                    <h2 class="text-xl font-semibold text-gray-800">{% translate "Order Items" %} ({{ cart_items|length }})</h2>
                    <div class="divide-y divide-gray-200">
                        {% for item in cart_items %}
                            <div class="py-4 relative flex flex-col md:flex-row">
                                <div class="relative size-full max-w-32 flex-shrink-0">
                                    <img class="size-full object-cover rounded-xl" src="{{ item.image_url }}" alt="{{ item.name }}">
                                </div>

                                <div class="p-4 flex-1">
                                    <!-- Header -->
                                    <div class="sm:flex justify-between mb-2">
                                        <div class="flex-1">
                                            <h4 class="text-sm font-medium text-gray-800">{{ item.name }}</h4>
                                            <p class="text-sm font-medium text-gray-800 mt-1">${{ item.price }}</p>
                                        </div>
                                    </div>

                                    <!-- Grid -->
                                    <div class="flex flex-wrap gap-6 mb-3">
                                        <div>
                                            <h4 class="text-xs text-gray-500">
                                                {% translate 'Color' %}
                                            </h4>
                                            <p class="text-sm font-medium">
                                                White
                                            </p>
                                        </div>

                                        <div>
                                            <h4 class="text-xs text-gray-500">
                                                {% translate 'Size' %}
                                            </h4>
                                            <p class="text-sm font-medium">
                                                US 10
                                            </p>
                                        </div>

                                        <div>
                                            <h4 class="text-xs text-gray-500">
                                                {% translate 'Quantity' %}
                                            </h4>
                                            <p class="text-sm font-medium quantity-value">1</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Order Summary -->
            <div class="w-full lg:w-4/12">
                <div class="sticky top-20">
                    <div class="rounded-lg border border-gray-200 p-6">
                        <h2 class="text-xl font-semibold text-gray-800 mb-4">{% translate "Order Summary" %}</h2>
                        <div class="space-y-3">
                            <div class="flex justify-between items-center">
                                <span class="text-gray-600 font-light">{% translate "Subtotal" %}</span>
                                <span class="text-gray-800">${{ subtotal }}</span>
                            </div>
                            <div class="flex justify-between items-center">
                                <span class="text-gray-600 font-light">{% translate "Shipping" %}</span>
                                <span class="text-gray-800">{% translate "Free" %}</span>
                            </div>
                            <div class="flex justify-between items-center">
                                <span class="text-gray-600 font-light">{% translate "Tax" %}</span>
                                <span class="text-gray-800">${{ tax|default:"0.00" }}</span>
                            </div>
                            <div class="flex justify-between items-center">
                                <span class="text-gray-600 font-light">{% translate "Estimated Tax" %}</span>
                                <div class="flex">
                                    <div class="hs-dropdown [--auto-close:inside] [--placement:bottom-right] inline-flex">
                                        <button id="tax-calculator-dropdown" type="button"
                                                class="inline-flex items-center text-gray-600 underline underline-offset-4 hover:text-blue-600 focus:outline-hidden"
                                                aria-haspopup="menu" aria-expanded="false" aria-label="Calculate Tax">
                                            {% translate 'Calculate' %}
                                        </button>

                                        <div class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] md:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 hidden bg-white border border-gray-200 rounded-lg shadow-md p-2 before:absolute before:-top-4 before:start-0 before:w-full before:h-5"
                                             role="menu" aria-orientation="vertical" aria-labelledby="tax-calculator-dropdown" data-placement="bottom-end">
                                            <div class="flex flex-row items-center p-1 border border-gray-200 rounded-lg overflow-hidden">
                                                <div class="relative flex-1">
                                                    <input id="tax-zip-code" type="text" class="py-2 px-3 block w-full border-0 focus:ring-0 focus:outline-none text-sm"
                                                           placeholder="{% translate 'Zip code' %}">
                                                </div>
                                                <button type="button"
                                                        class="py-2 px-3 inline-flex justify-center rounded-lg items-center border-0 font-medium text-indigo-600 hover:bg-indigo-50 focus:outline-none">
                                                    {% translate 'Calculate' %}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-between items-center">
                                <span class="text-gray-600 font-light">{% translate "Promo code" %}</span>
                                <div class="flex">
                                    <div class="hs-dropdown [--auto-close:inside] [--placement:bottom-right] inline-flex">
                                        <button id="promo-code-dropdown" type="button"
                                                class="inline-flex items-center text-gray-600 underline underline-offset-4 hover:text-blue-600 focus:outline-hidden"
                                                aria-haspopup="menu" aria-expanded="false" aria-label="Apply Promo Code">
                                            {% translate 'Enter code' %}
                                        </button>

                                        <div class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] md:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 hidden bg-white border border-gray-200 rounded-lg shadow-md p-2 before:absolute before:-top-4 before:start-0 before:w-full before:h-5"
                                             role="menu" aria-orientation="vertical" aria-labelledby="promo-code-dropdown" data-placement="bottom-end">
                                            <div class="flex flex-row items-center p-1 border border-gray-200 rounded-lg overflow-hidden">
                                                <div class="relative flex-1">
                                                    <input id="promo-code" type="text" class="py-2 px-3 block w-full border-0 focus:ring-0 focus:outline-none text-sm"
                                                           placeholder="{% translate 'Enter code' %}">
                                                </div>
                                                <button type="button"
                                                        class="py-2 px-3 inline-flex justify-center rounded-lg items-center border-0 font-medium text-indigo-600 hover:bg-indigo-50 focus:outline-none">
                                                    {% translate 'Apply' %}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-between items-center">
                                <span class="text-gray-600 font-light">{% translate "Sale" %}</span>
                                <span class="text-gray-800">${{ tax|default:"0.00" }}</span>
                            </div>
                            <div class="border-t border-gray-200 pt-3 mt-3 flex justify-between items-center">
                                <span class="text-lg font-semibold text-gray-800">{% translate "Total" %}</span>
                                <span>
                                <span class="text-gray-600">{% translate "USD" %}</span>
                                <span class="text-xl font-bold text-gray-800">${{ total }}</span>
                            </span>
                            </div>
                        </div>

                        <button class="btn btn-lg btn-primary w-full my-2">
                            {% translate "Place Order" %}
                        </button>

                        <a href="{% url 'checkout:cart' %}" class="btn btn-outline btn-lg btn-outline-light w-full">
                            {% translate "Return to Cart" %}
                        </a>

                        <p class="text-xs text-gray-500 text-center mt-2">
                            {% translate "By placing your order, you agree to our Terms of Service and Privacy Policy." %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}