{% extends "_base.html" %}

{% load static i18n %}

{% block content %}
    <section class="container mx-auto py-8">
        {% include 'components/_breadcrumb.html' with items=breadcrumb %}
        {% include 'components/_heading.html' with heading=heading %}

        <div class="flex flex-col lg:flex-row gap-8">
            <!-- Filter Sidebar Form -->
            {% include 'components/_filters_sidebar.html' %}

            <!-- Products Grid -->
            <div class="w-full lg:w-3/4">
                <!-- Sort Controls -->
                {% include 'components/_sorts_select.html' %}

                <!-- Products -->
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    {% for product in products %}
                        {% include 'shop/product/_product_card.html' with product=product %}
                        {% empty %}
                        <div class="col-span-1 md:col-span-2 lg:col-span-3 text-center py-12">
                            <div class="flex flex-col items-center justify-center">
                                {% include 'components/icons/_empty.html' %}
                                <p class="text-lg font-medium text-gray-700 mb-1">{% translate "No products found" %}</p>
                                <p class="text-gray-500">{% translate "No products found in this category." %}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Pagination -->
                {% include 'components/_pagination.html' with page_obj=page_obj %}
            </div>
        </div>
    </section>
{% endblock content %}