{% extends "_base.html" %}
{% load static i18n %}

{% block content %}
    <section class="container mx-auto py-8">
        {% include 'components/_breadcrumb.html' with items=breadcrumb %}

        <div class="text-center">
            {% include 'components/_heading.html' with heading=heading %}
        </div>

        <form method="post" class="form-container max-w-xl" novalidate>
            {% csrf_token %}

            <div class="form-cols-2">
                <div>
                    <label for="{{ form.first_name.id_for_label }}" class="form-label">{{ form.first_name.label }}</label>
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                        <div class="form-error">{{ form.first_name.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <label for="{{ form.last_name.id_for_label }}" class="form-label">{{ form.last_name.label }}</label>
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                        <div class="form-error">{{ form.last_name.errors }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="form-cols-2">
                <div>
                    <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label }}</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="form-error">{{ form.username.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <label for="{{ form.phone_number.id_for_label }}" class="form-label">{{ form.phone_number.label }}</label>
                    {{ form.phone_number }}
                    {% if form.phone_number.errors %}
                        <div class="form-error">{{ form.phone_number.errors }}</div>
                    {% endif %}
                </div>
            </div>

            <div>
                <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="form-error">{{ form.email.errors }}</div>
                {% endif %}
            </div>

            <div class="form-cols-2" data-hs-toggle-password-group>
                <div>
                    <label for="{{ form.password1.id_for_label }}" class="form-label">{{ form.password1.label }}</label>
                    <div class="relative">
                        {{ form.password1 }}
                        <button type="button" data-hs-toggle-password='{"target": ["#password1", "#password2"]}' class="btn-password-toggle">
                            {% include "components/icons/_eye_toggle_icon.html" %}
                        </button>
                    </div>
                    {% if form.password1.errors %}
                        <div class="form-error">{{ form.password1.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <label for="{{ form.password2.id_for_label }}" class="form-label">{{ form.password2.label }}</label>
                    <div class="relative">
                        {{ form.password2 }}
                        <button type="button" data-hs-toggle-password='{"target": ["#password1", "#password2"]}' class="btn-password-toggle">
                            {% include "components/icons/_eye_toggle_icon.html" %}
                        </button>
                    </div>
                    {% if form.password2.errors %}
                        <div class="form-error">{{ form.password2.errors }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="flex items-start mb-2">
                <div class="flex items-center h-5">
                    {{ form.terms }}
                </div>
                <div class="ml-2 mb-2 text-sm">
                    <label for="terms" class="form-label">
                        {% translate "I accept the" %}
                        <a href="#" class="text-link">{% translate "Terms and Conditions" %}</a>
                    </label>
                    {% if form.terms.errors %}
                        <div class="form-error">{{ form.terms.errors }}</div>
                    {% endif %}
                </div>
            </div>

            {% if form.non_field_errors %}
                <div class="form-error mb-4">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <button type="submit" class="btn btn-lg btn-primary w-full">{% translate "Register" %}</button>
            <p class="form-text text-center">
                {% translate "Already have an account?" %}
                <a href="{% url 'account:login' %}" class="text-link">{% translate "Login" %}</a>
            </p>
        </form>
    </section>
{% endblock content %}
