{% extends "account/_base.html" %}

{% load static i18n %}

{% block dashboard_content %}
    <section>
        {% if products %}
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
                {% for product in products %}
                    {% include 'shop/product/_product_card.html' with product=product %}
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center py-12 bg-gray-50 rounded-lg">
                <h3 class="text-xl font-medium text-gray-700">{% translate "Your wishlist is empty" %}</h3>
                <p class="text-gray-500 mt-2">{% translate "Browse our products and add items to your wishlist" %}</p>
                <a href="{% url 'inventory:product_list' %}" class="inline-block mt-4 px-6 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">
                    {% translate "Shop Now" %}
                </a>
            </div>
        {% endif %}
    </section>
{% endblock dashboard_content %}